﻿html {
    height: 100vh;
	
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	height: 100%;
	background-image: url("../images/quizwallpaper.jpg");
	font-family: Arial;
}

h1 {
    text-align: center;
}

main {
	padding-top: 60px;
	padding-bottom: 60px;
	background-size: 100%;
	background-repeat: repeat;
	background-position: top;
	margin: 0;
	z-index: -1;
	display: flex; /* establish flex container */
	flex-direction: column; /* make main axis vertical */
	justify-content: center; /* center items vertically, in this case */
	align-items: center;
	width: 100%;
}

#Box {
    width: 1000px;
    background-color: white;
    min-height: 10vh;
    padding: 20px;
    box-shadow: 0 0 22px 10px rgba(89,89,89,0.59);
    /* Geeft schaduw aan de div. */
    position: relative;
    z-index: 1;
}

#Visual {
    width: 300px;
}

#vraaghouder {
    margin: 0;
    padding: 25px;
    width: 660px;
    text-align: center;
    background-color: #5a5a5a;
}

#vraag {
	font-size: 25px;
	color: white;
}

#buttons li button{
	width: 80%;
}

ul {
    padding: 0;
	list-style-type: none;
}

button {
    padding: 12px 28px;
    background-color: #73b1bc;
    border-radius: 12px;
}

a {
    margin-top: 5px;
    background-color: #73b1bc;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: inline-block;
}

#imgQ {
    margin: 0;
    padding: 0;
}

.body-content {
	padding: 0;
}

.content {
    display: flex;
}