﻿@page
@{ Layout = null; }


<!DOCTYPE html>
<head>
	<title>Infoland</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="~/lib/signalr/dist/browser/signalr.js"></script>
	<link rel="stylesheet" href="~/css/Quiz.css" />
	<script type="text/javascript" src="~/Scripts/SignalR.js"></script>
	<script type="text/javascript" src="~/Scripts/Finish.js"></script>
</head>
<body onload="Finish()">
    <main>
        <div id="Box">
            <h1 id="Fin"></h1>
            <br /><br />
            <a onclick="Finish()" id="Back" href="Index">back</a>
        </div>
    </main>
</body>
