﻿@page
@model SotS.WebApplication.Pages.IndexModel
@{
	ViewData["Title"] = "Index";
    Layout = "";
}

<html>
<head>
	<title>Infoland</title>
	<link rel="stylesheet" href="~/css/Quiz.css" />
	<script src="~/lib/signalr/dist/browser/signalr.js"></script>
	<script type="text/javascript" src="~/Scripts/SignalR.js"></script>
	<script type="text/javascript" src="~/Scripts/API.js"></script>
	<script type="text/javascript" src="~/Scripts/Writequiz.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body onload="Onload()">
    <main>
        <div id="Box">
            <div id="Head">
                <div class="Title">
                    <img src="~/images/SotSName.png"/>
                </div>
            </div>
			<div id="points">
			</div>
            <div>
                <div>
                    <p>Dit zijn de quizes</p>
                    <button onclick="AddQuizes()" id="Addquiz">click</button>

                </div>
                <div>
                    <ul id="Quizes"></ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

