﻿@page
@model SotS.WebApplication.Pages.LoginModel
@{
	ViewData["Title"] = "Login";
    Layout = "";
}

<!DOCTYPE html>
<head>
	<title>Infoland</title>
	<link rel="stylesheet" href="~/css/Quiz.css" />
	<script type="text/javascript" src="~/Scripts/Login.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <main>
        <div id="Box">
            <div id="Head">
                <h1>Login</h1>
            </div>
            <div>
                <a class="Users" href="Index" onclick="Userclicked(0, 'mols')">Mols</a>
                <a class="Users" href="Index" onclick="Userclicked(1, 'ster')">Ster</a>
                <a class="Users" href="Index" onclick="Userclicked(2, 'loon')">Loon</a>
                <a class="Users" href="Index" onclick="Userclicked(3, 'rhee')">Rhee</a>
            </div>
        </div>
    </main>
	
</body>