﻿@page

@{
    ViewData["Title"] = "Quiz";
}
@{ 
    Layout = "";
}

<html>
<head>
	<title>Quiz</title>
	<script src="~/lib/signalr/dist/browser/signalr.js"></script>
	<link rel="stylesheet" href="~/css/Quiz.css" />
	<script type="text/javascript" src="~/Scripts/API.js"></script>
	<script type="text/javascript" src="~/Scripts/SignalR.js"></script>
	<script type="text/javascript" src="~/Scripts/Writequiz.js"></script>
	<script type="text/javascript" src="~/Scripts/Playboard.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body onload="authenticate_User_andGet_Token()">
    <main>
        <div id="Box">
            <div id="container" class="content">
                <div id="Head">
                    <div class="Title">
                    </div>
                </div>
                <div id="Visual">
                </div>
                <div id="vraaghouder">
					<div id="imgdiv">
						<img maxheight="300" id="img" />
					</div>
                    <div id="vraag"><p id="vraagtext">click op volgende vraag om te beginnen</p></div>
                    <br>
                    <a id="imgQ"></a>
                    <br>
                    <ul id="Buttons"></ul>
                    <br>
                    <button onclick="Click(100)" id="Next">Volgende vraag</button>
                </div>
            </div>
            <div>
                <a id="Back" href="Index">back</a>
            </div>
        </div>
        
    </main>
</body>
</html>